{% load staticfiles %}
<html>
<head>
  <script src="{% static 'js/svg.min.js' %}"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <title>SVG.js</title>
</head>
<body style="margin:0">
  <body style="margin:0">
    <div style="width:75%; float:left;" id="papers"></div>
    <div style="width:23%; background-color:#eee; float:right;" id="verbose_div">
    </div>
  </body>
</body>
<script>
var canvas = document.getElementById('papers');
var width = canvas.offsetWidth, height = $(window).height();
</script>
<script src="{% static 'js/embcloud.js' %}"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://d3js.org/d3-contour.v1.min.js"></script>
<script>
var hover_switch = document.getElementById("hover_switch_ckb");
var verbose_text = document.getElementById("verbose_div");
var data = {{ input_data|safe }};
var elabel = {{ ent_label|safe }};
var draw_edges = {{ flag_edge }};
console.log("draw_edges", draw_edges);
drawCloud(data);
enableRectDraw();

</script>
</html>
