{% load staticfiles %}
<html>
<head>
  <script src="{% static 'js/svg.min.js' %}"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <title>SVG.js</title>
</head>
<body style="margin:0">
  {% if verbose == 'true' %}
    <div style="width:70%; float:left;" id="papers"></div>
    <div style="width:28%; float:right;" id="verbose_div">
    </div>
    <label class="switch" id="hover_switch">
      <input type="checkbox" id="hover_switch_ckb" onclick="hover_change(this);">
      <span class="slider round"></span>
    </label>
  {% else %}
    <div style="width:100%; position: absolute; top:0; z-index:1" id="papers"></div>
    <div style="width:100%; position: absolute; top:0; z-index:0">
      <svg id="contour" width="100%" height="1000" stroke="#fff" stroke-width="0.5"></svg>
    </div>
  {% endif %}
</body>
<script>
var canvas = document.getElementById('papers');
var width = canvas.offsetWidth, height = $(window).height();
</script>
<script src="{% static 'js/embcloud.js' %}"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://d3js.org/d3-contour.v1.min.js"></script>
<script>
var hover_switch = document.getElementById("hover_switch_ckb");
var verbose_text = document.getElementById("verbose_div");
var data = {{ input_data|safe }};
drawCloud(data);

</script>
</html>
